@import './variables.scss'; 

.details {
	margin: 0px 200px;
}

.landing-page {
	display: flex;
	flex: 1;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background-image: url($background);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	.introduction {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		justify-content: center;
		padding: 60px;
		border: 6px solid $white;
		.MuiTypography-root {
			color: $white;  
		}
		.MuiTypography-caption {
			font-size: 18px;
			font-weight: 400;
			letter-spacing: 3px;
			font-family: $caption;

		}
		.caption {
			.MuiTypography-body1 {
				font-size: 72px;
				font-weight: 400px;
				font-family: $title;
			}
		}
	}
} 

.about-me {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	flex-wrap: wrap;
	.img-container {
		max-height: 570px;
		max-width: 496px;
		overflow: hidden; 
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.text {
		padding-left: 45px;
		max-width: 510px;
		.MuiTypography-h2 {
			text-align: left;
			font-size: 36px;
			font-weight: 400;
			display: block;
			font-family: $about_me_title;
		}
		.border {
			margin-top: 28px;
			margin-bottom: 22px;
			border-top: 3px solid rgb(129, 193, 50);
			width: 64px;
		}
		.MuiTypography-h3 {
			font-size: 16px;
			font-family: $about_me_caption;
			font-weight: 600;
			line-height: 25.6px;
			box-sizing: border-box;
			text-align: left;
		}
	}
}

.experience {
	margin-top: 85px;
	.MuiTypography-h1 {
		font-size: 36px;
		font-family: $about_me_title;
	}
	.border {
		width: 114px;
		height: 3px;
		transform-origin: right center 0;
		margin: 30px auto 0;
		border-top: 3px solid rgb(129, 193, 50);
	}
	.container {
		margin-top: 30px;
	}
	img {
		border-radius: 20px;
		width: 100%;
		height: 100%;
	}
}