@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

$caption: 'Open Sans', sans-serif;
$title: 'Playfair Display', serif; 
$color1: #d8dfd0; 
$color2: #d6d1ce; 
$color3: #b3c3b9;
$white: #FFF;  
$footer:  #333; 
$background: '../img/background.jpg';